{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenDPP Integration API",
    "version": "1.8.0",
    "summary": "Create, validate, seal and publish EU Digital Product Passports; serialize battery units; manage facilities, access grants and webhooks; resolve and verify passports publicly.",
    "description": "OpenDPP is a B2B platform for EU Digital Product Passports (DPPs), aligned with the ESPR (Regulation (EU) 2024/1781) data requirements and the EU Battery Regulation (Regulation (EU) 2023/1542). This specification documents the **public integration surface**: everything an external system needs to create, validate, seal, publish, resolve and verify passports.\n\n## Authentication\nAuthenticate with a tenant **API key** sent as a Bearer token: `Authorization: Bearer op_dpp_token_…`. Keys are created in the Client Console (Developers → API keys), are shown **once** at creation, carry a role plus optional narrowed permissions and optional expiry, and can be revoked at any time. API-key clients are exempt from CSRF requirements. Public endpoints (tagged **Public Resolution**, plus the public validators and the audit verifier) need no credentials.\n\n## Tenancy\nTenant identity is **token-bound** — it is derived from your API key, never from the request host. The same paths work on the apex host and on tenant workspace hosts (`https://<workspace>.opendpp-node.eu`); when a workspace host is used, it must match the key's tenant (requests across workspaces are rejected with `403`).\n\n## Errors\nAuthenticated endpoints return `{ success: false, error, message }` (some omit `success`). ESPR metadata validation failures return the richer shape documented as **ValidationFailed** with per-field `errors[]`/`warnings[]` (localizable via `?lang=` or `Accept-Language`; 28 languages). Bulk endpoints report row-level problems as `errors: string[]`. Malformed JSON and query-string violations return Fastify's default `{ statusCode, code, error, message }` body.\n\n## Rate limits\nGlobal limit: **100 requests/min per IP** (higher for verified crawlers), with `x-ratelimit-*` response headers. Public passport resolution is additionally limited to **30 requests/min per IP** (no headers). The public validator is limited to **10 requests/min per IP**. Stay under these limits with client-side queueing; on `429`, back off and retry after the indicated window.\n\n## Sealing & verification\nPassport seals are **eIDAS advanced electronic seals** (ECDSA P-256 over a Merkle root of the passport content, optional RFC 3161 timestamp). Anyone can verify a seal — no account required. `POST /api/v1/audit/verify` recomputes every Merkle leaf from the submitted values, so it requires the unredacted document (caller-supplied redacted-leaf hashes are deliberately not trusted). Redacted documents remain verifiable **offline**: masked fields keep their true leaf hashes in `proof.redactedLeaves`, letting any verifier rebuild the sealed root without the privileged values.\n\n## Public access tiers\nPublic resolution endpoints serve **tiered** views of the same URL: the public tier for anonymous callers; a restricted tier for holders of legitimate-interest (`dpp_li_…`) or authority (`dpp_auth_…`) capability tokens (presented as a Bearer token or `?grant=` query parameter); and the owner tier for the issuing tenant's own credentials.\n\n## Webhooks\nSubscribe to passport lifecycle events (`passport.ingested`, `passport.sealed`, `passport.recalled`, or `*`). Deliveries are HMAC-SHA256-signed; see the **webhooks** section of this document for the exact signature scheme, retry schedule, and payloads.\n\nThis document is also served machine-readably at [`/openapi.json`](https://opendpp-node.eu/openapi.json) and [`/openapi.yaml`](https://opendpp-node.eu/openapi.yaml).\n\n## Open interoperability kit\nThe interoperability boundary — the official AAS + UNTP/W3C-VC schemas, live-reproducible samples, an offline conformance validator, and the field mappings — is **open source** at [github.com/OpenDPP/opendpp-interop](https://github.com/OpenDPP/opendpp-interop) (Apache-2.0). It lets any integrator validate and verify OpenDPP's standards-conformant output without access to the product source.",
    "contact": {
      "name": "OpenDPP",
      "url": "https://opendpp-node.eu/contact",
      "email": "support@opendpp-node.eu"
    },
    "license": {
      "name": "Proprietary — © OpenDPP UAB. The specification may be used to build integrations and generate clients against the OpenDPP service.",
      "url": "https://opendpp-node.eu/security"
    }
  },
  "externalDocs": {
    "description": "OpenDPP interop boundary kit — official schemas, live-reproducible samples, an offline conformance validator, and AAS + UNTP field mappings (open source, Apache-2.0).",
    "url": "https://github.com/OpenDPP/opendpp-interop"
  },
  "servers": [
    {
      "url": "https://opendpp-node.eu",
      "description": "Production (apex host)"
    },
    {
      "url": "https://{workspace}.opendpp-node.eu",
      "description": "Tenant workspace host — same API; the host's workspace must match the API key's tenant.",
      "variables": {
        "workspace": {
          "default": "demo",
          "description": "Your workspace subdomain (the demo workspace hosts fictional sample data)."
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Passports",
      "description": "Create, validate, read, update, seal and manage the lifecycle of Digital Product Passports. Passport metadata is category-specific: machine-readable JSON Schemas are served live at `GET /api/v1/schemas/{category}` for textiles, batteries, electronics, chemicals and construction; the remaining categories (cosmetics, toys, iron-steel, aluminium) are validated by built-in rules — use the dry-run validators to check payloads for any category."
    },
    {
      "name": "Economic Operators",
      "description": "Register and manage the economic operators (manufacturers/brands, identified by EORI or national registry id) that passports are issued on behalf of. Operators with passports are archived — never hard-deleted — to preserve passport resolvability (ESPR Art. 9(2))."
    },
    {
      "name": "Battery Units",
      "description": "Per-unit battery serialization (real serials, GS1 AI 21) under a SKU-level passport, plus append-only telemetry events (state of health, charge cycles, status changes) per the EU Battery Regulation."
    },
    {
      "name": "Facilities",
      "description": "Manufacturing facility master data, identified by GS1 GLN-13 (the Unique Facility Identifier). GLN, name, activity and country are public in passport documents; street addresses are never published."
    },
    {
      "name": "Access Grants",
      "description": "Capability tokens implementing tiered access (Battery Regulation Art. 77(9) legitimate-interest access): issue, approve, deny and revoke `dpp_li_…` / `dpp_auth_…` tokens. Third parties request access via the hosted request page; granted tokens unlock restricted fields on the public resolution endpoints (Bearer or `?grant=`)."
    },
    {
      "name": "Webhooks",
      "description": "Subscribe HTTPS endpoints to passport lifecycle events. Deliveries are HMAC-SHA256-signed POSTs with retry/backoff — see the webhooks section of this document for the signature scheme and payloads."
    },
    {
      "name": "Traceability & Audit",
      "description": "UNTP/EPCIS supply-chain traceability events, lineage queries, and the public seal verifier. The verifier checks the cryptographic seal AND that the signing workspace is bound to the economic operator declared in the payload."
    },
    {
      "name": "Public Resolution",
      "description": "Unauthenticated, content-negotiated passport resolution: GS1 Digital Link paths, passport and unit pages. One URL serves JSON-LD (default), an AAS environment (`Accept: application/aas+json`), a signed UNTP Verifiable Credential (`Accept: application/vc+jwt` enveloping, `application/vc+ld+json` embedded `ecdsa-jcs-2019` Data Integrity, or `application/dc+sd-jwt` SD-JWT-VC selective disclosure; the first two also item-level on `/unit/:id`), or HTML (`Accept: text/html`). Tiered by optional credentials or grant tokens. Rate limit: 30 requests/min per IP."
    },
    {
      "name": "Verifiable Credentials",
      "description": "Issuer trust endpoints that back the UNTP Verifiable Credential representations: the workspace's `did:web` DID document (public keys only) and its W3C Bitstring Status List for revocation. Unauthenticated; resolve these to verify and revocation-check any OpenDPP-issued credential."
    },
    {
      "name": "Schemas & Vocabulary",
      "description": "Machine-readable contracts: per-category ESPR JSON Schemas, the W3C JSON-LD context, and the curated materials vocabulary."
    },
    {
      "name": "QR Codes",
      "description": "Export GS1-Digital-Link QR codes (PNG/SVG, 128–2048 px, GS1 quiet zone) for passports and battery units."
    },
    {
      "name": "eIDAS Keys",
      "description": "Tenant signing-key management. Keys are generated and held server-side in an encrypted vault; private key material is never returned by any endpoint."
    },
    {
      "name": "Account",
      "description": "Identity of the authenticated API key / session: workspace, role, permissions, operator scope, and passport usage against the tier quota — the integration-facing counterpart to the console's profile endpoints."
    },
    {
      "name": "Service",
      "description": "Service metadata and liveness."
    }
  ],
  "paths": {
    "/api/v1/whoami": {
      "get": {
        "operationId": "whoami",
        "tags": [
          "Account"
        ],
        "summary": "Identity of the authenticated key / session",
        "description": "Returns a compact, integration-focused view of the calling credential: the workspace, the principal's role and resolved permissions, whether the session is an API key, the operator the key is scoped to (`null` = workspace-wide), and active-passport usage against the tier quota. Use it to verify a key works, discover the effective permission set, and surface remaining quota.\n\nThis is the public counterpart to the console's `GET /api/v1/me`; profile, localization and billing details are intentionally not exposed here.\n\n**Permission:** none beyond a valid tenant-scoped session — any API key can call it. Platform-admin sessions are rejected with `403` (they are not tenant-scoped).\n\n**Rate limit:** global limiter, 100 requests/min per IP (standard `x-ratelimit-*` headers).",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The authenticated identity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhoamiResponse"
                },
                "example": {
                  "success": true,
                  "tenant": {
                    "id": "7c3e9a12-4b5d-4f6e-8a9b-1c2d3e4f5a6b",
                    "name": "Demo Manufacturing UAB",
                    "subdomain": "demo",
                    "tier": "growth",
                    "subscriptionStatus": "active"
                  },
                  "auth": {
                    "role": "BRAND_OPERATOR",
                    "permissions": [
                      "passport:read",
                      "passport:create",
                      "passport:update",
                      "passport:seal"
                    ],
                    "isApiKeySession": true,
                    "operatorId": "4f6d2c1e-8a9b-4d3e-b7c5-0a1f2e3d4c5b"
                  },
                  "usage": {
                    "activePassports": 12,
                    "passportLimit": 250
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The session is not scoped to a tenant workspace (e.g. a platform-admin session).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Forbidden",
                  "message": "This session is not scoped to a tenant workspace."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/passports/{passportId}/units/validate": {
      "parameters": [
        {
          "name": "passportId",
          "in": "path",
          "required": true,
          "description": "The SKU/type-level passport, addressed by its UUID or caller-supplied `productId` (GTIN-14 / GRAI / SKU), scoped to your tenant.",
          "schema": {
            "type": "string"
          },
          "example": "09501101530003"
        }
      ],
      "post": {
        "operationId": "validateBatteryUnits",
        "tags": [
          "Battery Units"
        ],
        "summary": "Pre-flight: validate battery-unit identifiers without persisting (#263)",
        "description": "NON-MUTATING pre-flight for bulk unit import. Runs the SAME engine-backed AI-21 / GS1 Digital Link conformance + field checks as `POST /api/v1/passports/{passportId}/units` and returns a per-item verdict — **persisting nothing**. Send a single unit or `{\"units\": [...]}` (≤200). Lets a bulk importer ask \"would these serials be GS1-conformant?\" before committing a batch.\n\n**Permission:** `battery:write` (gated as the write permission, like other validate-only checks; subscription gating → 402). **Validation:** `serialNumber` charset/length (`^[A-Za-z0-9._-]{1,20}$`); for a GTIN-keyed passport the unit Digital Link must parse cleanly through GS1's authoritative engine; `status` must be a valid unit status; `manufacturedAt` must be Date-parseable. Predecessor linkage is NOT checked here (a persistence-time concern). The verdict order matches the input order.\n\n**Rate limits:** global limiter only — 100 req/min per IP.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SerializeBatteryUnitsRequest"
              },
              "example": {
                "units": [
                  {
                    "serialNumber": "BATT-2026-000451"
                  },
                  {
                    "serialNumber": "bad serial!"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-item conformance verdicts in input order (nothing persisted).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "count",
                    "validCount",
                    "results"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of units checked."
                    },
                    "validCount": {
                      "type": "integer",
                      "description": "How many are GS1-conformant."
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "serialNumber",
                          "ok"
                        ],
                        "properties": {
                          "serialNumber": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "ok": {
                            "type": "boolean"
                          },
                          "error": {
                            "type": "string",
                            "description": "Present only when ok=false."
                          }
                        },
                        "additionalProperties": false
                      }
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "success": true,
                  "message": "1 of 2 unit(s) GS1-conformant",
                  "count": 2,
                  "validCount": 1,
                  "results": [
                    {
                      "serialNumber": "BATT-2026-000451",
                      "ok": true
                    },
                    {
                      "serialNumber": "bad serial!",
                      "ok": false,
                      "error": "Invalid serialNumber \"bad serial!\": must be 1-20 URL-safe characters ([A-Za-z0-9._-]) — GS1 AI-21's maximum length is 20"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid body envelope (not a JSON object, empty `units`, or more than 200 items).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Passport not found under your tenant workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/passports/{passportId}/units": {
      "parameters": [
        {
          "name": "passportId",
          "in": "path",
          "required": true,
          "description": "The SKU/type-level passport, addressed either by its UUID **or** by its caller-supplied `productId` (GTIN-14 / GRAI / SKU). The UUID lookup is tried first, then `productId` — both scoped to your tenant.",
          "schema": {
            "type": "string"
          },
          "example": "09501101530003"
        }
      ],
      "post": {
        "operationId": "serializeBatteryUnits",
        "tags": [
          "Battery Units"
        ],
        "summary": "Serialise individual battery units under a passport (bulk, up to 200)",
        "description": "Creates one or many **individual physical battery units** (Battery Reg. (EU) 2023/1542 Art. 77(2)) under a SKU/type-level passport. Send either a single unit object or `{\"units\": [...]}` with **at most 200 items** (if `units` is present and an array it is used; otherwise the whole body is treated as one unit).\n\n**Permission:** `battery:write`. Bearer API key (`op_dpp_token_…`) or session JWT; cookie-session clients must send `X-CSRF-Token`. Operator-scoped credentials may only serialise under passports of their own Economic Operator (403). Write operations pass subscription gating (402) and optional tenant MFA enforcement (403).\n\n**Per-item validation (collected as plain-string errors, not a rejection of the whole batch):** `serialNumber` is trimmed then must match `^[A-Za-z0-9._-]{1,20}$` (GS1 AI-21 recommends ≤ 20 chars); `status` must be a valid unit status; `manufacturedAt` must be Date-parseable; duplicate `(passport, serialNumber)` pairs are skipped with *\"A unit with this serial already exists for this passport\"*. Each created unit gets a per-unit GS1 Digital Link URI `/{01|8003}/{productId}/21/{serialNumber}` carrying the **real physical serial** in AI-21.\n\n**Predecessor linkage (Art. 77(7) repurpose/remanufacture):** `predecessorUnitId` must reference an existing unit **in your tenant** (any passport). A recycled predecessor (`ceasedAt` set) is refused — its passport has ceased to exist (Art. 77(8)). (The check keys on `ceasedAt`, which only the events-route `RECYCLED` transition stamps — a unit merely *created* with status `RECYCLED` has no `ceasedAt` and is still accepted as a predecessor.) In one transaction the new unit is created, an append-only `STATUS_CHANGE` event (`{status, successorUnitId, successorSerial}` payload) is written to the predecessor, and the predecessor's status is set to `predecessorStatus` (default `REPURPOSED`; only `REPURPOSED|REMANUFACTURED|REUSED` allowed).\n\n**Partial success:** the response is **201 when at least one unit was created**; skipped items are listed in `errors`. If *every* item failed you get **400 `Serialisation Failed`** with the same string array. A `batteryunit.created` audit event and a tenant notification are emitted on success.\n\n**Rate limits:** global limiter only — 100 req/min per IP (`x-ratelimit-*` headers).",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SerializeBatteryUnitsRequest"
              },
              "example": {
                "units": [
                  {
                    "serialNumber": "BATT-2026-000451",
                    "manufacturedAt": "2026-05-02T08:00:00.000Z"
                  },
                  {
                    "serialNumber": "BATT-2026-000452",
                    "status": "IN_SERVICE",
                    "predecessorUnitId": "5a1c9e7d-3b2f-4c8a-9e6d-7f0b1a2c3d4e",
                    "predecessorStatus": "REMANUFACTURED"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "At least one unit was serialised. `count` is the number actually created; when some items were skipped, `errors` lists one plain-English string per skipped item and `message` notes the skip count.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SerializeBatteryUnitsResponse"
                },
                "example": {
                  "success": true,
                  "message": "Serialised 2 individual unit(s)",
                  "count": 2,
                  "units": [
                    {
                      "id": "9b2fa884-1f0c-4d6e-9a3b-2c7d85e41f6a",
                      "serialNumber": "BATT-2026-000451",
                      "digitalLinkUri": "https://opendpp-node.eu/01/09501101530003/21/BATT-2026-000451",
                      "passportId": "4c8e1d2a-6b3f-4a9e-8d57-0f1e2a3b4c5d",
                      "tenantId": "tenant-demo-opendpp",
                      "manufacturedAt": "2026-05-02T08:00:00.000Z",
                      "status": "IN_SERVICE",
                      "ceasedAt": null,
                      "predecessorUnitId": null,
                      "createdAt": "2026-06-12T09:41:00.000Z",
                      "updatedAt": "2026-06-12T09:41:00.000Z"
                    },
                    {
                      "id": "2f6b0c1d-8e4a-4b7c-a93d-5e2f1a0b9c8d",
                      "serialNumber": "BATT-2026-000452",
                      "digitalLinkUri": "https://opendpp-node.eu/01/09501101530003/21/BATT-2026-000452",
                      "passportId": "4c8e1d2a-6b3f-4a9e-8d57-0f1e2a3b4c5d",
                      "tenantId": "tenant-demo-opendpp",
                      "manufacturedAt": null,
                      "status": "IN_SERVICE",
                      "ceasedAt": null,
                      "predecessorUnitId": "5a1c9e7d-3b2f-4c8a-9e6d-7f0b1a2c3d4e",
                      "createdAt": "2026-06-12T09:41:00.000Z",
                      "updatedAt": "2026-06-12T09:41:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Three shapes: (1) standard `Bad Request` triple when the body is not a JSON object, the `units` array is empty, or more than 200 units are sent; (2) `Serialisation Failed` (`{success:false, error:\"Serialisation Failed\", errors: string[]}` — **no `message` field**) when *every* item in the batch failed per-item validation/creation; (3) a syntactically malformed JSON body is rejected by the framework before the handler runs, with Fastify's default `{statusCode:400, error:\"Bad Request\", message}` body.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/BatteryUnitSerialisationFailedError"
                    },
                    {
                      "$ref": "#/components/schemas/FastifyDefaultBadRequest"
                    }
                  ]
                },
                "examples": {
                  "badRequest": {
                    "summary": "Batch-level rejection",
                    "value": {
                      "success": false,
                      "error": "Bad Request",
                      "message": "A single request may serialise at most 200 units"
                    }
                  },
                  "serialisationFailed": {
                    "summary": "Every item failed",
                    "value": {
                      "success": false,
                      "error": "Serialisation Failed",
                      "errors": [
                        "Invalid serialNumber \"bad serial!\": must be 1-20 URL-safe characters ([A-Za-z0-9._-]) — GS1 AI-21's maximum length is 20",
                        "[BATT-2026-000451] A unit with this serial already exists for this passport"
                      ]
                    }
                  },
                  "malformedJson": {
                    "summary": "Syntactically invalid JSON body (Fastify default body)",
                    "value": {
                      "statusCode": 400,
                      "code": "FST_ERR_CTP_INVALID_JSON_BODY",
                      "error": "Bad Request",
                      "message": "Body is not valid JSON but content-type is set to 'application/json'"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "get": {
        "operationId": "listBatteryUnits",
        "tags": [
          "Battery Units"
        ],
        "summary": "List serialised battery units under a passport",
        "description": "Lists **all** serialised units of the passport, newest first (`createdAt` DESC). **Paginated** with `?page` (default 1) and `?limit` (default 100, max 200) — a SKU may carry many physical units; `count` is this page's size, `total`/`totalPages` describe the full set.\n\n**Permission:** `battery:read`. Operator-scoped credentials may only read passports of their own Economic Operator (403). Units are raw persisted rows (no Fastify response schema, nothing stripped).\n\n**Rate limits:** global limiter only — 100 req/min per IP.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The passport's units. `productId` echoes the passport's caller-supplied identifier; `count` equals `units.length`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatteryUnitListResponse"
                },
                "example": {
                  "success": true,
                  "count": 1,
                  "productId": "09501101530003",
                  "units": [
                    {
                      "id": "9b2fa884-1f0c-4d6e-9a3b-2c7d85e41f6a",
                      "serialNumber": "BATT-2026-000451",
                      "digitalLinkUri": "https://opendpp-node.eu/01/09501101530003/21/BATT-2026-000451",
                      "passportId": "4c8e1d2a-6b3f-4a9e-8d57-0f1e2a3b4c5d",
                      "tenantId": "tenant-demo-opendpp",
                      "manufacturedAt": "2026-05-02T08:00:00.000Z",
                      "status": "IN_SERVICE",
                      "ceasedAt": null,
                      "predecessorUnitId": null,
                      "createdAt": "2026-06-12T09:41:00.000Z",
                      "updatedAt": "2026-06-12T09:41:00.000Z"
                    }
                  ],
                  "page": 1,
                  "limit": 100,
                  "total": 1,
                  "totalPages": 1
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based page number (digits only; non-numeric falls back to 1).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Clamped to 1–200; non-numeric falls back to the default 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100
            }
          }
        ]
      }
    },
    "/api/v1/units/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Battery unit UUID (tenant-scoped).",
          "schema": {
            "type": "string"
          },
          "example": "9b2fa884-1f0c-4d6e-9a3b-2c7d85e41f6a"
        }
      ],
      "get": {
        "operationId": "getBatteryUnit",
        "tags": [
          "Battery Units"
        ],
        "summary": "Get one battery unit as JSON-LD with its dynamic-data history",
        "description": "Returns the unit as a **JSON-LD document** (`Content-Type: application/ld+json`) in the **privileged tenant view**: `currentState` (the latest telemetry snapshot) and `dynamicData` (the **500 most recent** events, newest first by `recordedAt`) are included; the public `restrictedData` marker is absent. The embedded `ofModel` is the SKU/type passport document rendered in the **owner (unredacted) variant** — legitimate-interest-tier metadata and owner-only keys are NOT masked, unlike the anonymous public document.\n\n**Caveat:** this authenticated endpoint does **not** load lineage relations, so `repurposedFrom` is always `null` and `successorUnits` is always `[]` here even when Art. 77(7) lineage exists; the public resolver view (`GET /unit/{id}`) does resolve them.\n\n**Permission:** `battery:read`. Operator-scoped credentials may only read units whose passport belongs to their Economic Operator (403).\n\n**Rate limits:** global limiter only — 100 req/min per IP.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The unit's JSON-LD document (privileged view, telemetry included).",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/BatteryUnitJsonLd"
                },
                "example": {
                  "@context": [
                    "https://opendpp-node.eu/contexts/dpp/v1",
                    {
                      "BatteryUnit": "https://opendpp-node.eu/ns/dpp#BatteryUnit",
                      "serialNumber": "https://opendpp-node.eu/ns/dpp#serialNumber",
                      "ofModel": "https://opendpp-node.eu/ns/dpp#ofModel",
                      "currentState": "https://opendpp-node.eu/ns/dpp#currentState",
                      "dynamicData": "https://opendpp-node.eu/ns/dpp#dynamicData",
                      "stateOfHealth": "https://opendpp-node.eu/ns/dpp#stateOfHealth",
                      "cycleCount": "https://opendpp-node.eu/ns/dpp#cycleCount",
                      "restrictedData": "https://opendpp-node.eu/ns/dpp#restrictedData",
                      "repurposedFrom": "https://opendpp-node.eu/ns/dpp#repurposedFrom",
                      "successorUnits": "https://opendpp-node.eu/ns/dpp#successorUnits"
                    }
                  ],
                  "@type": "BatteryUnit",
                  "@id": "https://opendpp-node.eu/01/09501101530003/21/BATT-2026-000451",
                  "id": "9b2fa884-1f0c-4d6e-9a3b-2c7d85e41f6a",
                  "serialNumber": "BATT-2026-000451",
                  "digitalLinkUri": "https://opendpp-node.eu/01/09501101530003/21/BATT-2026-000451",
                  "status": "IN_SERVICE",
                  "manufacturedAt": "2026-05-02T08:00:00.000Z",
                  "repurposedFrom": null,
                  "successorUnits": [],
                  "ofModel": {
                    "@context": [
                      "https://opendpp-node.eu/contexts/dpp/v1",
                      {
                        "DigitalProductPassport": "https://opendpp-node.eu/ns/dpp#DigitalProductPassport",
                        "economicOperator": "https://opendpp-node.eu/ns/dpp#economicOperator",
                        "manufacturingFacility": "https://opendpp-node.eu/ns/dpp#manufacturingFacility",
                        "metadata": "https://opendpp-node.eu/ns/dpp#metadata",
                        "digitalSeal": "https://opendpp-node.eu/ns/dpp#digitalSeal",
                        "signingPublicKey": "https://opendpp-node.eu/ns/dpp#signingPublicKey",
                        "status": "https://opendpp-node.eu/ns/dpp#status",
                        "archivedAt": "https://opendpp-node.eu/ns/dpp#archivedAt",
                        "retentionUntil": "https://opendpp-node.eu/ns/dpp#retentionUntil",
                        "category": "https://opendpp-node.eu/contexts/dpp/v1#category",
                        "originCountry": "https://opendpp-node.eu/contexts/dpp/v1#originCountry"
                      }
                    ],
                    "@type": "DigitalProductPassport",
                    "@id": "https://opendpp-node.eu/01/09501101530003",
                    "id": "4c8e1d2a-6b3f-4a9e-8d57-0f1e2a3b4c5d",
                    "productId": "09501101530003",
                    "digitalLinkUri": "https://opendpp-node.eu/01/09501101530003",
                    "digitalSeal": null,
                    "signingPublicKey": null,
                    "status": "ACTIVE",
                    "archivedAt": null,
                    "retentionUntil": null,
                    "proof": null,
                    "createdAt": "2026-05-01T10:00:00.000Z",
                    "updatedAt": "2026-06-01T10:00:00.000Z",
                    "economicOperator": {
                      "@type": "EconomicOperator",
                      "id": "operator-demo-opendpp",
                      "name": "OpenDPP Demo Eco Industries (SAMPLE)",
                      "regId": "EU-DEFAULT-001",
                      "role": "Manufacturer"
                    },
                    "manufacturingFacility": null,
                    "metadata": {
                      "category": "batteries",
                      "originCountry": "PT"
                    },
                    "category": "batteries",
                    "originCountry": "PT"
                  },
                  "currentState": {
                    "stateOfHealth": 97.4,
                    "cycleCount": 132,
                    "remainingCapacityAh": 48.7,
                    "temperatureC": 23.1,
                    "recordedAt": "2026-06-11T16:20:00.000Z"
                  },
                  "dynamicData": [
                    {
                      "@type": "BatteryUnitEvent",
                      "eventType": "SOH_MEASUREMENT",
                      "stateOfHealth": 97.4,
                      "cycleCount": 132,
                      "remainingCapacityAh": 48.7,
                      "temperatureC": 23.1,
                      "payload": null,
                      "recordedAt": "2026-06-11T16:20:00.000Z"
                    }
                  ],
                  "createdAt": "2026-06-12T09:41:00.000Z",
                  "updatedAt": "2026-06-12T09:41:00.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteBatteryUnit",
        "tags": [
          "Battery Units"
        ],
        "summary": "Permanently delete a battery unit and its telemetry",
        "description": "**HARD delete** — permanently removes the unit row and **cascades all of its `BatteryUnitEvent` telemetry**. This is *not* a lifecycle/status transition: to record end-of-life semantics (decommissioned, waste, recycled — incl. the Art. 77(8) public 410 tombstone) append a telemetry event with a `status` instead (`POST /api/v1/units/{id}/events`). Deletion is intended for erroneous serialisations. A `batteryunit.deleted` audit event is written.\n\n**Permission:** `battery:write`. Cookie-session clients must send `X-CSRF-Token`. Operator-scoped credentials may only delete units whose passport belongs to their Economic Operator (403). Write operations pass subscription gating (402) and optional tenant MFA enforcement (403).\n\n**Rate limits:** global limiter only — 100 req/min per IP.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The unit and its events were permanently deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatteryUnitDeleteResponse"
                },
                "example": {
                  "success": true,
                  "message": "Battery unit deleted."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/units/{id}/events": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Battery unit UUID (tenant-scoped).",
          "schema": {
            "type": "string"
          },
          "example": "9b2fa884-1f0c-4d6e-9a3b-2c7d85e41f6a"
        }
      ],
      "post": {
        "operationId": "recordBatteryUnitEvent",
        "tags": [
          "Battery Units"
        ],
        "summary": "Append an immutable telemetry event to a battery unit",
        "description": "Appends one **append-only** per-unit dynamic-data record (Annex XIII / Art. 77: SoH, cycle count, remaining capacity, temperature, negative events). History is immutable — there is **no update or delete path** for events.\n\n**Permission:** `battery:write`. Cookie-session clients must send `X-CSRF-Token`. Operator-scoped credentials may only write to units whose passport belongs to their Economic Operator (403). Write operations pass subscription gating (402) and optional tenant MFA enforcement (403).\n\n**Validation (400 with the standard error triple):** `eventType` is required and must be one of `SOH_MEASUREMENT|CHARGE_CYCLE|STATUS_CHANGE|NEGATIVE_EVENT|OTHER`; `stateOfHealth` 0–100; `cycleCount` and `remainingCapacityAh` 0–9007199254740991; `temperatureC` −273.15–10000 (each may also be `null`/omitted); `status`, if present, must be a valid unit status; `recordedAt` must be Date-parseable (defaults to server time when omitted). `cycleCount` is truncated to an integer before persisting; a `payload` that is not an object or array is silently dropped (stored as `null`) — JSON **arrays** pass the server's `typeof` check and are persisted verbatim.\n\n**Status transition:** when `status` is present and differs from the unit's current status, the unit is updated **in the same transaction** as the event — this works with *any* `eventType`, though `STATUS_CHANGE` is the conventional carrier. Transitioning to **`RECYCLED`** (Art. 77(8)) additionally stamps `ceasedAt` (if not already set; never cleared), after which the public unit view becomes a 410 tombstone and the unit can no longer gain successor units. `status` itself is not locked afterwards — a later event may still set a different value — but `ceasedAt` persists, so the public 410 and the predecessor refusal are permanent.\n\n**Rate limits:** global limiter only — 100 req/min per IP.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordBatteryUnitEventRequest"
              },
              "example": {
                "eventType": "SOH_MEASUREMENT",
                "stateOfHealth": 96.8,
                "cycleCount": 140,
                "remainingCapacityAh": 48.2,
                "temperatureC": 24.5,
                "payload": {
                  "measuredBy": "BMS firmware 4.2.1"
                },
                "recordedAt": "2026-06-12T09:41:00.000Z"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event appended (and, when `status` was supplied and differed, the unit's status transitioned in the same transaction).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordBatteryUnitEventResponse"
                },
                "example": {
                  "success": true,
                  "message": "Dynamic data recorded",
                  "event": {
                    "id": "7e5d3c1b-9a8f-4e6d-b2c4-1a0e9f8d7c6b",
                    "batteryUnitId": "9b2fa884-1f0c-4d6e-9a3b-2c7d85e41f6a",
                    "tenantId": "tenant-demo-opendpp",
                    "eventType": "SOH_MEASUREMENT",
                    "stateOfHealth": 96.8,
                    "cycleCount": 140,
                    "remainingCapacityAh": 48.2,
                    "temperatureC": 24.5,
                    "payload": {
                      "measuredBy": "BMS firmware 4.2.1"
                    },
                    "recordedAt": "2026-06-12T09:41:00.000Z",
                    "createdAt": "2026-06-12T09:41:05.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Two shapes: (1) the standard error triple from handler validation — messages: `Request body must be a valid JSON object`; `eventType must be one of: SOH_MEASUREMENT, CHARGE_CYCLE, STATUS_CHANGE, NEGATIVE_EVENT, OTHER`; `<field> must be a number between <lo> and <hi>` (stateOfHealth/cycleCount/remainingCapacityAh/temperatureC); `status must be one of: IN_SERVICE, DECOMMISSIONED, RECALLED, REPURPOSED, REMANUFACTURED, REUSED, WASTE, RECYCLED`; `recordedAt is not a valid date`. (2) A syntactically malformed JSON body is rejected by the framework before the handler runs, with Fastify's default `{statusCode:400, error:\"Bad Request\", message}` body.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/FastifyDefaultBadRequest"
                    }
                  ]
                },
                "examples": {
                  "validation": {
                    "summary": "Handler validation error (standard triple)",
                    "value": {
                      "success": false,
                      "error": "Bad Request",
                      "message": "stateOfHealth must be a number between 0 and 100"
                    }
                  },
                  "malformedJson": {
                    "summary": "Syntactically invalid JSON body (Fastify default body)",
                    "value": {
                      "statusCode": 400,
                      "code": "FST_ERR_CTP_INVALID_JSON_BODY",
                      "error": "Bad Request",
                      "message": "Body is not valid JSON but content-type is set to 'application/json'"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "description": "The transaction failed. Handler-built body: `{success:false, error:\"Internal Server Error\", message:\"Failed to record dynamic data\"}` (error logged server-side, never echoed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Internal Server Error",
                  "message": "Failed to record dynamic data"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listBatteryUnitEvents",
        "tags": [
          "Battery Units"
        ],
        "summary": "List a battery unit's telemetry history (newest first, max 500)",
        "description": "Returns the unit's append-only dynamic-data history ordered by `recordedAt` DESC, **capped at the 500 most recent events**. There is no pagination — older events beyond the cap are not retrievable via this endpoint.\n\n**Permission:** `battery:read`. Operator-scoped credentials may only read units whose passport belongs to their Economic Operator (403). Events are raw persisted rows (no Fastify response schema, nothing stripped).\n\n**Rate limits:** global limiter only — 100 req/min per IP.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The unit's telemetry history. `count` equals `events.length` (≤ 500); `serialNumber` echoes the unit's physical serial.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatteryUnitEventListResponse"
                },
                "example": {
                  "success": true,
                  "count": 2,
                  "serialNumber": "BATT-2026-000451",
                  "events": [
                    {
                      "id": "7e5d3c1b-9a8f-4e6d-b2c4-1a0e9f8d7c6b",
                      "batteryUnitId": "9b2fa884-1f0c-4d6e-9a3b-2c7d85e41f6a",
                      "tenantId": "tenant-demo-opendpp",
                      "eventType": "SOH_MEASUREMENT",
                      "stateOfHealth": 96.8,
                      "cycleCount": 140,
                      "remainingCapacityAh": 48.2,
                      "temperatureC": 24.5,
                      "payload": {
                        "measuredBy": "BMS firmware 4.2.1"
                      },
                      "recordedAt": "2026-06-12T09:41:00.000Z",
                      "createdAt": "2026-06-12T09:41:05.000Z"
                    },
                    {
                      "id": "3a9c7e5d-1b2f-4c6a-8e0d-9f7b5a3c1d2e",
                      "batteryUnitId": "9b2fa884-1f0c-4d6e-9a3b-2c7d85e41f6a",
                      "tenantId": "tenant-demo-opendpp",
                      "eventType": "CHARGE_CYCLE",
                      "stateOfHealth": null,
                      "cycleCount": 139,
                      "remainingCapacityAh": null,
                      "temperatureC": null,
                      "payload": null,
                      "recordedAt": "2026-06-11T16:20:00.000Z",
                      "createdAt": "2026-06-11T16:20:02.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/facilities": {
      "post": {
        "operationId": "createFacility",
        "tags": [
          "Facilities"
        ],
        "summary": "Register a facility (GS1 GLN)",
        "description": "Registers a manufacturing/processing facility as tenant-scoped master data, backing the Unique Facility Identifier (UFI, EN 18219). Passports reference facilities via `facilityId`.\n\n**Permission:** `facility:write`. Authenticate with a Bearer API key (`op_dpp_token_…`) or a session JWT; cookie-authenticated sessions must also send the `X-CSRF-Token` header (double-submit against the `opendpp_csrf` cookie) — Bearer clients are exempt. Write permissions are subscription-gated: a lapsed workspace subscription returns **402**.\n\n**GLN validation:** `gln` is trimmed, then must be exactly 13 digits with a valid GS1 modulo-10 check digit (same weighting algorithm as GTIN). The GLN is unique **platform-wide** (database unique constraint), so a duplicate returns **409** even if the existing facility belongs to another tenant.\n\n**Country:** `country` must match `^[A-Za-z]{2}$` after trimming and is stored uppercased.\n\n**Operator binding:** if `operatorId` is supplied (non-empty), that Economic Operator must be bound to your tenant workspace, otherwise **403**. An empty/whitespace `operatorId` is stored as `null`. Requests authenticated with an **operator-scoped API key** may only attach facilities to their own operator: a mismatched `operatorId` returns **403**, and when omitted the key's operator id is applied automatically.\n\n`activity`, `streetAddress`, `city` and `postalCode` are trimmed; empty/whitespace values are stored as `null`.\n\n**Public/privileged field split:** the public **JSON-LD** passport document exposes `id`, `gln`, `name`, `activity` and `country` of a linked facility; the public **AAS** export emits only the GLN, name and country (`manufacturingFacilityGln` / `manufacturingFacilityName` / `manufacturingFacilityCountry`, plus the GLN as a `urn:gs1:gln:` global asset reference) — the facility `id` and `activity` are never emitted in AAS. `streetAddress`, `city` and `postalCode` are owner-only in both formats. This endpoint returns the full row to you as the owner.\n\nEmits a `facility.created` audit event and an in-app notification.\n\n**Rate limit:** global limiter, 100 requests/min per IP (standard `x-ratelimit-*` headers).",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FacilityCreateRequest"
              },
              "example": {
                "gln": "0950110153014",
                "name": "Munich Cell Assembly Plant",
                "activity": "Cell assembly",
                "streetAddress": "Werkstrasse 12",
                "city": "Munich",
                "postalCode": "80331",
                "country": "DE",
                "operatorId": "4f6d2c1e-8a9b-4d3e-b7c5-0a1f2e3d4c5b"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Facility registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacilityCreatedEnvelope"
                },
                "example": {
                  "success": true,
                  "message": "Facility registered successfully",
                  "facility": {
                    "id": "9b2fa884-5b6e-4c0a-9f3d-2e7c1a8d4b61",
                    "gln": "0950110153014",
                    "name": "Munich Cell Assembly Plant",
                    "activity": "Cell assembly",
                    "streetAddress": "Werkstrasse 12",
                    "city": "Munich",
                    "postalCode": "80331",
                    "country": "DE",
                    "operatorId": "4f6d2c1e-8a9b-4d3e-b7c5-0a1f2e3d4c5b",
                    "tenantId": "7c3e9a12-4b5d-4f6e-8a9b-1c2d3e4f5a6b",
                    "createdAt": "2026-06-12T09:41:00.000Z",
                    "updatedAt": "2026-06-12T09:41:00.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body. Checked in order: body must be a JSON object; `gln` must be a 13-digit GS1 GLN with a valid mod-10 check digit; `name` must be a non-empty string; `country` must be a 2-letter ISO code. Note: a syntactically malformed JSON body is rejected earlier by the JSON parser with the default error shape (`{\"statusCode\": 400, \"error\": \"Bad Request\", \"message\": <parse error>}` — no `code` key), not this envelope; an empty body parses to `{}` and fails the `gln` check with this envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "nonObjectBody": {
                    "value": {
                      "success": false,
                      "error": "Bad Request",
                      "message": "Request body must be a valid JSON object"
                    }
                  },
                  "invalidGln": {
                    "value": {
                      "success": false,
                      "error": "Bad Request",
                      "message": "gln must be a valid GS1 Global Location Number (13 digits with a valid modulo-10 check digit)"
                    }
                  },
                  "invalidName": {
                    "value": {
                      "success": false,
                      "error": "Bad Request",
                      "message": "name must be a non-empty string"
                    }
                  },
                  "invalidCountry": {
                    "value": {
                      "success": false,
                      "error": "Bad Request",
                      "message": "country must be a 2-letter ISO country code"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "description": "Forbidden. Route-specific causes: an operator-scoped API key supplied an `operatorId` other than its own (`Your access is restricted to Economic Operator: <id>`); or the supplied `operatorId` is not bound to your tenant workspace. Auth-layer causes also land here: insufficient permission (`facility:write`), missing/invalid CSRF token on a cookie session, cross-tenant subdomain mismatch, or MFA required when enforced.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "operatorScopeRestricted": {
                    "value": {
                      "success": false,
                      "error": "Forbidden",
                      "message": "Your access is restricted to Economic Operator: 4f6d2c1e-8a9b-4d3e-b7c5-0a1f2e3d4c5b"
                    }
                  },
                  "operatorNotBound": {
                    "value": {
                      "success": false,
                      "error": "Forbidden",
                      "message": "The Economic Operator with ID 4f6d2c1e-8a9b-4d3e-b7c5-0a1f2e3d4c5b is not bound to your Tenant workspace."
                    }
                  },
                  "insufficientPermission": {
                    "value": {
                      "success": false,
                      "error": "Forbidden",
                      "message": "Insufficient permissions. Required: \"facility:write\"."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "A facility with this GLN is already registered. The GLN unique constraint is platform-wide, so the conflict can be caused by a facility owned by another tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Conflict",
                  "message": "A facility with GLN 0950110153014 is already registered."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "description": "Internal error (standard envelope). This route's catch block returns message `Failed to register facility` for unexpected database errors; a failure inside the auth layer returns message `Authentication verification failed`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "createFailed": {
                    "summary": "Unexpected database error in the create handler",
                    "value": {
                      "success": false,
                      "error": "Internal Server Error",
                      "message": "Failed to register facility"
                    }
                  },
                  "authLayer": {
                    "summary": "Failure inside the auth middleware",
                    "value": {
                      "success": false,
                      "error": "Internal Server Error",
                      "message": "Authentication verification failed"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listFacilities",
        "tags": [
          "Facilities"
        ],
        "summary": "List facilities in the tenant workspace",
        "description": "Lists all facilities registered under your tenant workspace, sorted by `createdAt` descending. **Paginated** with `?page` (default 1) and `?limit` (default 100, max 200); `count` is this page's size, `total`/`totalPages` describe the full set. A non-numeric `page`/`limit` falls back to its default.\n\n**Permission:** `facility:read` (Bearer API key or session JWT/cookie).\n\n**Operator-scoped keys:** when authenticated with an API key scoped to an Economic Operator, the list contains only facilities whose `operatorId` equals the key's operator — facilities with no operator (`operatorId: null`) are **excluded** from the list (they remain readable individually via `GET /api/v1/facilities/{id}`).\n\nThe full row is returned to the owner, including the privileged address fields (`streetAddress`, `city`, `postalCode`) that public passport documents never expose (owner-only in JSON-LD; never emitted in AAS).\n\n**Rate limit:** global limiter, 100 requests/min per IP (standard `x-ratelimit-*` headers).",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Facility list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacilityListEnvelope"
                },
                "example": {
                  "success": true,
                  "count": 2,
                  "facilities": [
                    {
                      "id": "9b2fa884-5b6e-4c0a-9f3d-2e7c1a8d4b61",
                      "gln": "0950110153014",
                      "name": "Munich Cell Assembly Plant",
                      "activity": "Cell assembly",
                      "streetAddress": "Werkstrasse 12",
                      "city": "Munich",
                      "postalCode": "80331",
                      "country": "DE",
                      "operatorId": "4f6d2c1e-8a9b-4d3e-b7c5-0a1f2e3d4c5b",
                      "tenantId": "7c3e9a12-4b5d-4f6e-8a9b-1c2d3e4f5a6b",
                      "createdAt": "2026-06-12T09:41:00.000Z",
                      "updatedAt": "2026-06-12T09:41:00.000Z"
                    },
                    {
                      "id": "3d8c1f27-6a4b-4e9d-a2c8-5b7e9f0a1c3d",
                      "gln": "0950110153021",
                      "name": "Rotterdam Recycling Hub",
                      "activity": "Recycling",
                      "streetAddress": null,
                      "city": null,
                      "postalCode": null,
                      "country": "NL",
                      "operatorId": null,
                      "tenantId": "7c3e9a12-4b5d-4f6e-8a9b-1c2d3e4f5a6b",
                      "createdAt": "2026-06-10T14:05:12.000Z",
                      "updatedAt": "2026-06-10T14:05:12.000Z"
                    }
                  ],
                  "page": 1,
                  "limit": 100,
                  "total": 2,
                  "totalPages": 1
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based page number (digits only; non-numeric falls back to 1).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Clamped to 1–200; non-numeric falls back to the default 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100
            }
          }
        ]
      }
    },
    "/api/v1/facilities/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Facility id (UUID, as returned at registration). Non-existent or other-tenant ids return 404.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "getFacility",
        "tags": [
          "Facilities"
        ],
        "summary": "Get a single facility",
        "description": "Fetches one facility by id, scoped to your tenant workspace.\n\n**Permission:** `facility:read`.\n\n**Operator-scoped keys:** if the facility belongs to a *different* Economic Operator than the key's scope, the response is **403**. Facilities with no operator (`operatorId: null`) **are** readable by operator-scoped keys here, even though they are excluded from the list endpoint.\n\nReturns the full row including the privileged address fields (`streetAddress`, `city`, `postalCode`) that public passport documents never expose. (Public exposure of a linked facility: the JSON-LD document shows `id`/`gln`/`name`/`activity`/`country`; the AAS export only the GLN, name and country.)\n\n**404 body:** standard envelope with message `Facility <id> not found under your Tenant workspace`.\n\n**Rate limit:** global limiter, 100 requests/min per IP (standard `x-ratelimit-*` headers).",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Facility found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacilityEnvelope"
                },
                "example": {
                  "success": true,
                  "facility": {
                    "id": "9b2fa884-5b6e-4c0a-9f3d-2e7c1a8d4b61",
                    "gln": "0950110153014",
                    "name": "Munich Cell Assembly Plant",
                    "activity": "Cell assembly",
                    "streetAddress": "Werkstrasse 12",
                    "city": "Munich",
                    "postalCode": "80331",
                    "country": "DE",
                    "operatorId": "4f6d2c1e-8a9b-4d3e-b7c5-0a1f2e3d4c5b",
                    "tenantId": "7c3e9a12-4b5d-4f6e-8a9b-1c2d3e4f5a6b",
                    "createdAt": "2026-06-12T09:41:00.000Z",
                    "updatedAt": "2026-06-12T09:41:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden. Route-specific cause: the request used an operator-scoped API key and the facility belongs to a different Economic Operator. Auth-layer causes (insufficient `facility:read` permission, cross-tenant subdomain mismatch) also land here.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Forbidden",
                  "message": "Your access is restricted to Economic Operator: 4f6d2c1e-8a9b-4d3e-b7c5-0a1f2e3d4c5b"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "operationId": "updateFacility",
        "tags": [
          "Facilities"
        ],
        "summary": "Update facility master data (GLN is immutable)",
        "description": "Partially updates a facility's master data. **The GLN itself is immutable** — it is the resolvable UFI identifier; a `gln` key in the body is silently ignored (as is `operatorId` — the operator binding cannot be changed here).\n\n**Permission:** `facility:write`. Cookie sessions must send `X-CSRF-Token`; write permissions are subscription-gated (**402** when lapsed).\n\n**Field semantics (all optional):**\n- `name` — applied only when a non-empty string; an empty/whitespace or non-string value is silently ignored (`name` can never be cleared).\n- `activity`, `streetAddress`, `city`, `postalCode` — applied whenever the key is *present* in the body: the value is stringified and trimmed; anything that trims to empty (`null`, `\"\"`, or a whitespace-only string) **clears the field to null** — the same normalization as POST.\n- `country` — when present as a string it must match `^[A-Za-z]{2}$` (else **400**) and is stored uppercased; a non-string value is silently ignored.\n\nAn empty body (or one with no recognized fields) is accepted: the response is **200** with the otherwise-unchanged row, though `updatedAt` is still bumped.\n\n**Operator-scoped keys:** updating a facility that belongs to a different Economic Operator returns **403**; facilities with `operatorId: null` are updatable.\n\nEmits a `facility.updated` audit event recording the changed fields.\n\n**Rate limit:** global limiter, 100 requests/min per IP (standard `x-ratelimit-*` headers).",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FacilityUpdateRequest"
              },
              "example": {
                "name": "Munich Cell Assembly Plant — Hall B",
                "activity": "Final manufacturing",
                "streetAddress": "Werkstrasse 14",
                "country": "DE"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated facility (full row).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacilityEnvelope"
                },
                "example": {
                  "success": true,
                  "facility": {
                    "id": "9b2fa884-5b6e-4c0a-9f3d-2e7c1a8d4b61",
                    "gln": "0950110153014",
                    "name": "Munich Cell Assembly Plant — Hall B",
                    "activity": "Final manufacturing",
                    "streetAddress": "Werkstrasse 14",
                    "city": "Munich",
                    "postalCode": "80331",
                    "country": "DE",
                    "operatorId": "4f6d2c1e-8a9b-4d3e-b7c5-0a1f2e3d4c5b",
                    "tenantId": "7c3e9a12-4b5d-4f6e-8a9b-1c2d3e4f5a6b",
                    "createdAt": "2026-06-12T09:41:00.000Z",
                    "updatedAt": "2026-06-12T10:15:30.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "`country` was present as a string but is not a 2-letter ISO code. (This is the only body validation that errors; other invalid fields are silently ignored.) Note: a syntactically malformed JSON body is rejected earlier by Fastify's content-type parser with its **default** error shape (`{\"statusCode\": 400, \"code\": \"FST_ERR_CTP_…\", \"error\": \"Bad Request\", \"message\": …}`), not this envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Bad Request",
                  "message": "country must be a 2-letter ISO country code"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "description": "Forbidden. Route-specific cause: the request used an operator-scoped API key and the facility belongs to a different Economic Operator. Auth-layer causes (insufficient `facility:write` permission, missing/invalid CSRF token on a cookie session, cross-tenant mismatch, MFA when enforced) also land here.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "operatorScopeRestricted": {
                    "value": {
                      "success": false,
                      "error": "Forbidden",
                      "message": "Your access is restricted to Economic Operator: 4f6d2c1e-8a9b-4d3e-b7c5-0a1f2e3d4c5b"
                    }
                  },
                  "insufficientPermission": {
                    "value": {
                      "success": false,
                      "error": "Forbidden",
                      "message": "Insufficient permissions. Required: \"facility:write\"."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteFacility",
        "tags": [
          "Facilities"
        ],
        "summary": "Delete a facility (passports are unlinked, never deleted)",
        "description": "Removes the facility master-data row. **Passports are never deleted by this operation**: `Passport.facilityId` is a `SET NULL` foreign key, so any passports referencing the facility simply lose their UFI link (`facilityId` becomes `null`) and remain fully intact and publicly resolvable.\n\n**Permission:** `facility:write`. Cookie sessions must send `X-CSRF-Token`; write permissions are subscription-gated (**402** when lapsed).\n\n**Operator-scoped keys:** deleting a facility that belongs to a different Economic Operator returns **403**; facilities with `operatorId: null` are deletable.\n\nEmits a `facility.deleted` audit event and an in-app notification. **404 body:** standard envelope with message `Facility <id> not found under your Tenant workspace`.\n\n**Rate limit:** global limiter, 100 requests/min per IP (standard `x-ratelimit-*` headers).",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Facility deleted. Minimal envelope — no `message`, no `facility`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacilityDeletedEnvelope"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "description": "Forbidden. Route-specific cause: the request used an operator-scoped API key and the facility belongs to a different Economic Operator. Auth-layer causes (insufficient `facility:write` permission, missing/invalid CSRF token on a cookie session, cross-tenant mismatch, MFA when enforced) also land here.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "success": false,
                  "error": "Forbidden",
                  "message": "Your access is restricted to Economic Operator: 4f6d2c1e-8a9b-4d3e-b7c5-0a1f2e3d4c5b"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/grants": {
      "get": {
        "operationId": "listGrants",
        "tags": [
          "Access Grants"
        ],
        "summary": "List access grants and pending access requests",
        "description": "Lists the workspace's access grants — capability-token grants for the Battery Regulation's restricted data tiers (Reg. (EU) 2023/1542 Art. 77(9), Annex XIII(2)–(4)) — including undecided third-party access **requests** (`status: PENDING`, `issuerType: REQUEST`) submitted via the hosted request-access page.\n\n**Permission:** `grant:read`. **Rate limit:** global limiter, 100 requests/min per IP (standard `x-ratelimit-*` headers).\n\nPaginated with `?page` (default 1) and `?limit` (default 100, max 200), grouped by `status` ascending (alphabetical: `ACTIVE`, `DENIED`, `PENDING`, `REVOKED`) and newest-first within each group. `AUTHORITY` grants (platform-issued market-surveillance access) are listed for transparency but are not tenant-revocable (`revocable: false`). Raw capability tokens are never included — only issuance/approval responses contain them, once.\n\n**Pagination:** results are paged with `?page` (default 1) and `?limit` (default 100, max 200). The response now also carries `success`, `count`, `total` and `totalPages` alongside `grants`.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The workspace's grants and requests, paginated newest-first — a `{ success, count, page, limit, total, totalPages, grants }` envelope. `limit` is clamped to its maximum and a non-numeric `limit` falls back to the default; there is no fixed 500-row cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantListResponse"
                },
                "example": {
                  "grants": [
                    {
                      "id": "9b2fa884-3c1d-4e8a-9f27-5b06c8d41a72",
                      "status": "ACTIVE",
                      "kind": "LEGITIMATE_INTEREST",
                      "granteeName": "Dr. Elena Varga",
                      "granteeEmail": "e.varga@inspection-example.eu",
                      "organization": "EU Battery Inspection Services",
                      "purpose": "State-of-health verification for second-life suitability assessment under Art. 77(9).",
                      "scopeType": "UNIT",
                      "passportId": "4f1f7d2e-9a3b-4c5d-8e6f-7a8b9c0d1e2f",
                      "batteryUnitId": "7c3a91d5-2e4f-4b6a-8c0d-1e2f3a4b5c6d",
                      "issuerType": "TENANT",
                      "issuerEmail": "admin@example.opendpp-node.eu",
                      "decidedAt": null,
                      "decidedBy": null,
                      "expiresAt": "2026-09-12T09:41:00.000Z",
                      "revokedAt": null,
                      "lastUsedAt": "2026-06-12T10:02:14.000Z",
                      "useCount": 3,
                      "createdAt": "2026-06-12T09:41:00.000Z",
                      "revocable": true
                    },
                    {
                      "id": "c5d8e1f4-7a2b-4c9d-8e3f-6a1b2c3d4e5f",
                      "status": "PENDING",
                      "kind": "LEGITIMATE_INTEREST",
                      "granteeName": "Marta Keller",
                      "granteeEmail": "m.keller@recycler-example.eu",
                      "organization": "Circular Battery Recycling GmbH",
                      "purpose": "Assessing remaining capacity before acquisition for repurposing (Art. 77(9)).",
                      "scopeType": "UNIT",
                      "passportId": "4f1f7d2e-9a3b-4c5d-8e6f-7a8b9c0d1e2f",
                      "batteryUnitId": "7c3a91d5-2e4f-4b6a-8c0d-1e2f3a4b5c6d",
                      "issuerType": "REQUEST",
                      "issuerEmail": null,
                      "decidedAt": null,
                      "decidedBy": null,
                      "expiresAt": "2026-09-10T08:15:30.000Z",
                      "revokedAt": null,
                      "lastUsedAt": null,
                      "useCount": 0,
                      "createdAt": "2026-06-12T08:15:30.000Z",
                      "revocable": true
                    }
                  ],
                  "count": 2,
                  "page": 1,
                  "limit": 100,
                  "total": 2,
                  "totalPages": 1,
                  "success": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based page number (digits only; non-numeric falls back to 1).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Clamped to 1–200; non-numeric falls back to the default 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100
            }
          }
        ]
      },
      "post": {
        "operationId": "createGrant",
        "tags": [
          "Access Grants"
        ],
        "summary": "Issue a legitimate-interest access grant directly",
        "description": "Directly issues an `ACTIVE` legitimate-interest access grant (no pending request involved) and mints its capability token. The raw token (`dpp_li_` + 32 hex characters) is returned **once** in this response; only its SHA-256 hash is stored. The grantee presents it to the public resolution endpoints as `Authorization: Bearer dpp_li_…` or `?grant=dpp_li_…` to unlock the restricted (tier-2 / per-unit) data of the granted scope.\n\n**Permission:** `grant:write` (write operations are subject to subscription gating, so 402 is possible). Cookie-session clients must send the `X-CSRF-Token` header; Bearer clients are exempt. On workspaces that enforce multi-factor authentication, user sessions that did not authenticate with a second factor receive 403 on writes (API-key clients are exempt). **Rate limit:** global limiter, 100 requests/min per IP.\n\nScope semantics:\n- `UNIT` — `batteryUnitId` is required; the unit must belong to this workspace. The unit's parent `passportId` is recorded on the grant.\n- `PASSPORT` — `passportId` is required; the passport must belong to this workspace and must not be a `DRAFT` (drafts return 404).\n- `TENANT` — workspace-wide; no target id needed.\n\n`expiresAt` is required, must be in the future, and at most **366 days** out. This endpoint always mints `kind: LEGITIMATE_INTEREST` — `AUTHORITY` (`dpp_auth_…`) grants are platform-issued only and cannot be created here. The issuance is audited as `grant.issued`.\n\nString fields longer than their documented maximum are **silently truncated**, not rejected; unknown fields are ignored.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGrantRequest"
              },
              "example": {
                "granteeName": "Dr. Elena Varga",
                "granteeEmail": "e.varga@inspection-example.eu",
                "organization": "EU Battery Inspection Services",
                "purpose": "State-of-health verification for second-life suitability assessment under Art. 77(9).",
                "scopeType": "UNIT",
                "batteryUnitId": "7c3a91d5-2e4f-4b6a-8c0d-1e2f3a4b5c6d",
                "expiresAt": "2026-09-12T09:41:00.000Z"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Grant issued. `token` is the raw capability token — shown only here, store it now.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantIssuedResponse"
                },
                "example": {
                  "success": true,
                  "grant": {
                    "id": "9b2fa884-3c1d-4e8a-9f27-5b06c8d41a72",
                    "status": "ACTIVE",
                    "kind": "LEGITIMATE_INTEREST",
                    "granteeName": "Dr. Elena Varga",
                    "granteeEmail": "e.varga@inspection-example.eu",
                    "organization": "EU Battery Inspection Services",
                    "purpose": "State-of-health verification for second-life suitability assessment under Art. 77(9).",
                    "scopeType": "UNIT",
                    "passportId": "4f1f7d2e-9a3b-4c5d-8e6f-7a8b9c0d1e2f",
                    "batteryUnitId": "7c3a91d5-2e4f-4b6a-8c0d-1e2f3a4b5c6d",
                    "issuerType": "TENANT",
                    "issuerEmail": "admin@example.opendpp-node.eu",
                    "decidedAt": null,
                    "decidedBy": null,
                    "expiresAt": "2026-09-12T09:41:00.000Z",
                    "revokedAt": null,
                    "lastUsedAt": null,
                    "useCount": 0,
                    "createdAt": "2026-06-12T09:41:00.000Z",
                    "revocable": true
                  },
                  "token": "dpp_li_00000000000000000000000000000001"
                }
              }
            }
          },
          "400": {
            "description": "Validation failure. Body omits the `success` field. `message` is one of: `granteeName is required`, `granteeEmail is invalid`, `scopeType must be UNIT, PASSPORT or TENANT`, `expiresAt is required`, `expiresAt must be an ISO-8601 date`, `expiresAt must be in the future`, `expiresAt must be within 366 days`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantRouteError"
                },
                "example": {
                  "error": "Bad Request",
                  "message": "expiresAt must be within 366 days"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "For `scopeType` `UNIT`/`PASSPORT`: the target id does not exist in this workspace (cross-tenant targets and `DRAFT` passports are indistinguishable from missing ones). Omitting the target id required by the `scopeType` also returns this 404 — there is no separate 400 for a missing target id. Body omits the `success` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantRouteError"
                },
                "example": {
                  "error": "Not Found",
                  "message": "Scope target not found in this workspace"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/grants/{id}/approve": {
      "post": {
        "operationId": "approveGrantRequest",
        "tags": [
          "Access Grants"
        ],
        "summary": "Approve a pending access request and mint its token",
        "description": "Approves a `PENDING` third-party access request (submitted via the hosted request-access page). Approval mints the legitimate-interest capability token **at this moment** — pending requests carry no token — sets `status: ACTIVE`, records `decidedAt`/`decidedBy`, and replaces the request's provisional 90-day expiry with the `expiresAt` you supply (required; future; max **366 days** out).\n\nThe raw token is returned **once** in this response. If the request has a `granteeEmail`, the grantee is additionally e-mailed an inspection link containing the token (`…/unit/{batteryUnitId}?grant=dpp_li_…` or `…/passport/{passportId}?grant=dpp_li_…`) — the only other place the raw token ever exists. The decision is audited as `grant.approved`.\n\n**Permission:** `grant:write` (subscription gating ⇒ 402 possible; cookie sessions need `X-CSRF-Token`; on workspaces enforcing multi-factor authentication, user sessions without a second factor get 403 — API-key clients exempt). **Rate limit:** global limiter, 100 requests/min per IP.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The access-request (AccessGrant) id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveGrantRequest"
              },
              "example": {
                "expiresAt": "2026-09-12T09:41:00.000Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request approved; the capability token is shown only here (and in the grantee e-mail).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantIssuedResponse"
                },
                "example": {
                  "success": true,
                  "grant": {
                    "id": "c5d8e1f4-7a2b-4c9d-8e3f-6a1b2c3d4e5f",
                    "status": "ACTIVE",
                    "kind": "LEGITIMATE_INTEREST",
                    "granteeName": "Marta Keller",
                    "granteeEmail": "m.keller@recycler-example.eu",
                    "organization": "Circular Battery Recycling GmbH",
                    "purpose": "Assessing remaining capacity before acquisition for repurposing (Art. 77(9)).",
                    "scopeType": "UNIT",
                    "passportId": "4f1f7d2e-9a3b-4c5d-8e6f-7a8b9c0d1e2f",
                    "batteryUnitId": "7c3a91d5-2e4f-4b6a-8c0d-1e2f3a4b5c6d",
                    "issuerType": "REQUEST",
                    "issuerEmail": null,
                    "decidedAt": "2026-06-12T09:41:00.000Z",
                    "decidedBy": "admin@example.opendpp-node.eu",
                    "expiresAt": "2026-09-12T09:41:00.000Z",
                    "revokedAt": null,
                    "lastUsedAt": null,
                    "useCount": 0,
                    "createdAt": "2026-06-12T08:15:30.000Z",
                    "revocable": true
                  },
                  "token": "dpp_li_00000000000000000000000000000002"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `expiresAt`. Body omits the `success` field. `message` is one of: `expiresAt is required`, `expiresAt must be an ISO-8601 date`, `expiresAt must be in the future`, `expiresAt must be within 366 days`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantRouteError"
                },
                "example": {
                  "error": "Bad Request",
                  "message": "expiresAt is required"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No grant with this id exists in this workspace. Body omits the `success` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantRouteError"
                },
                "example": {
                  "error": "Not Found",
                  "message": "Grant not found"
                }
              }
            }
          },
          "409": {
            "description": "The grant is not `PENDING` (already decided, active, or revoked). Body omits the `success` field; the current status is interpolated into the message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantRouteError"
                },
                "example": {
                  "error": "Conflict",
                  "message": "Only PENDING requests can be approved (status: ACTIVE)"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/grants/{id}/deny": {
      "post": {
        "operationId": "denyGrantRequest",
        "tags": [
          "Access Grants"
        ],
        "summary": "Deny a pending access request",
        "description": "Denies a `PENDING` third-party access request: sets `status: DENIED` and records `decidedAt`/`decidedBy`. No token is ever minted for a denied request, and no e-mail is sent to the requester. The decision is audited as `grant.denied`. The request body, if any, is ignored.\n\n**Permission:** `grant:write` (subscription gating ⇒ 402 possible; cookie sessions need `X-CSRF-Token`; on workspaces enforcing multi-factor authentication, user sessions without a second factor get 403 — API-key clients exempt). **Rate limit:** global limiter, 100 requests/min per IP.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The access-request (AccessGrant) id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantDecisionResponse"
                },
                "example": {
                  "success": true,
                  "grant": {
                    "id": "c5d8e1f4-7a2b-4c9d-8e3f-6a1b2c3d4e5f",
                    "status": "DENIED",
                    "kind": "LEGITIMATE_INTEREST",
                    "granteeName": "Marta Keller",
                    "granteeEmail": "m.keller@recycler-example.eu",
                    "organization": "Circular Battery Recycling GmbH",
                    "purpose": "Assessing remaining capacity before acquisition for repurposing (Art. 77(9)).",
                    "scopeType": "UNIT",
                    "passportId": "4f1f7d2e-9a3b-4c5d-8e6f-7a8b9c0d1e2f",
                    "batteryUnitId": "7c3a91d5-2e4f-4b6a-8c0d-1e2f3a4b5c6d",
                    "issuerType": "REQUEST",
                    "issuerEmail": null,
                    "decidedAt": "2026-06-12T09:41:00.000Z",
                    "decidedBy": "admin@example.opendpp-node.eu",
                    "expiresAt": "2026-09-10T08:15:30.000Z",
                    "revokedAt": null,
                    "lastUsedAt": null,
                    "useCount": 0,
                    "createdAt": "2026-06-12T08:15:30.000Z",
                    "revocable": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No grant with this id exists in this workspace. Body omits the `success` field.",
            "content": {
[...]
